---
---

@import "{{ site.theme }}";

// Custom style below

#main_content {
  max-width: 800px;
}

.language-plaintext {
  margin: 1em 0;
}

// Make code snippets have black background
pre {
  .highlight {
    background-color: hsl(0, 0%, 9%);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
  }
  code {
    background-color: hsl(0, 0%, 9%);
    color: hsl(0, 0%, 96%);
    font-size: 16px;
  }
}

// Make headers smaller
h2 {
  font-size: 24px;
  background: none;
}
h3 {
  font-size: 18px
}
